name: Docker Image CI

on:
  push:
    branches: [ "102-add-project-dockerization" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}:latest
        docker build -t $IMAGE_NAME .

    - name: Push Docker image
      run: |
        IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}:latest
        docker push $IMAGE_NAME
